body {
    background-color: rgb(255, 255, 255);
    /*font-size: 16px;*/
    /*font-weight: normal;*/
    font-family: 'Roboto', sans-serif;
    padding: 16px;
}

.main {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.cv{
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .main {
        display: block;
        text-align: center;
    }
}

.a {
    width: calc(100vw - 20px);
    gap: 20px
}